<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
	<title>Artist Details</title>
</head>
<body>
	<div class="textcentered">
		<h1>{{.Name}}</h1>
		<img src="{{.Image}}" alt="{{.Name}}"/>
		<p>Members: {{range .Members}}{{.}}, {{end}}</p>
		<p>Creation Date: {{.CreationDate}}</p>
		<p>First Album: {{.FirstAlbum}}</p>
		<p><a href="/locations.html?id={{.ID}}">Locations</a></p>
		<p><a href="/dates.html?id={{.ID}}">Concert Dates</a></p>
		<p><a href="/relations.html?id={{.ID}}">Relations</a></p>
	</div>
</body>
</html>