<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <title>Groupie Tracker</title>
</head>
<body>
	<h1>Artists/Bands</h1>
	<div class="flex-container">
		<div class="row">
			{{range .}}
				<div class="band">
					<h4>{{.Name}}</h4>
					<a href="artists.html?id={{.ID}}"> <img src="{{.Image}}" alt="{{.Name}}"> </a>
				</div>
			{{end}}
		</div>
	</div>
</body>
</html>
